{% extends "::base.html.twig" %}
{% block sidebar %}
<a href ="{{path('Home')}}">Home</a> <br>
<a href ="{{path('NewTechTools')}}">Add</a> <br>
<a href ="{{path('ToolIndex')}}">Back to Index</a>
{% endblock %}
{% block body %}
<table class="table">
    <tr>
		<th>Technology Tool Name</th>
    </tr>
    <tr>
		<td>{{ tool.name }}</td>
    </tr>   
</table>

{% endblock %}
