
{% extends "::base.html.twig" %}
{% block sidebar %}
<br>
<a href ="{{path('Home')}}">Home</a> <br>
{% endblock %}
{% block body %}

{{form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}
